#contactsWindow{
    display: flex;
    flex-direction: column;
}

#contHeader{
    align-items: center;
    width: 100%;
    height: 10%;
    display: flex;
    gap: 20px;
    background-color: #24A1DE;
    box-sizing: border-box;
    padding-left: 20px;
}

#contHeader > img{
    height: 60%;
    aspect-ratio: 1 / 1;
}

#contHeader > img {
    height: 60%;
    aspect-ratio: 1 / 1;
    margin-left: 20px;
}

#contHeader > h1 {
    color: white;
    font-size: 25px;
}

#contactsPage{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#newGroup{
    align-items: center;
    height: 20%;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    gap: 20px;
}

#allContacts{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#textAllContact{
    display: flex;
    justify-contact: center;
    align-items: center;
    width: 100%;
    height: 5%;
    background-color: #cccccc;
}

.contact{
    align-items: center;
    height: 20%;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    gap: 20px;
}

.contact > img {
    height: 80%;
    aspect-ratio: 1 / 1;
}

.infoContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}




